main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main ul{
list-style: none;
}
main ul li{
  margin: 10px 0 10px 0
}
main ul li a{
  font-size: 1.6rem;
  color: #7a7776;
  text-decoration: none;
}
main ul li a:hover{
