main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main table{
  padding: 20px;
  border: 1px solid #d9d4d1;
  border-collapse: collapse;
}
main th{
  font-size: 1.6rem;
  border: 1px solid #d9d4d1;
  padding: 30px 10px 30px 10px;
  color: #ffb83c;

}
main td{
  font-size: 1.6rem;
  border: 1px solid #d9d4d1;
  padding: 40px 10px 40px 10px;
  text-align: center;
  color: #7a7776;

}
main .star-icon-gold{
  font-size: 2rem;
  color: #ffb83c;
}
main .star-icon-gray{
  font-size: 2rem;
  color: #7a7776;
}
